<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>

    <div class="container mt-5">
      <h1 class="text-center text-primary mb-4">Add Branch & Intake</h1>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
              <form method="post" action="/manage-branches/add">
                <div class="mb-3">
                  <label for="college" class="form-label">College Name:</label>
                  <select class="form-select" id="college" name="college" required>
                    <option value="" disabled selected>Select College</option>
                    <option value="VIIT">VIIT</option>
                    <option value="VIT">VIT</option>
                    <option value="VU">VU</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="branch" class="form-label">Branch Name:</label>
                  <input type="text" class="form-control" id="branch" name="branch" placeholder="Enter branch name" required>
                </div>
                <div class="mb-3">
                  <label for="intake" class="form-label">Intake:</label>
                  <input type="number" class="form-control" id="intake" name="intake" placeholder="Enter intake number" required>
                </div>
                <div class="mb-3">
                  <p>Seats Available:</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="nri" name="nri" checked>
                    <label class="form-check-label" for="nri">
                      NRI
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="il" name="il" checked>
                    <label class="form-check-label" for="il">
                      IL
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ciwgc" name="ciwgc" checked>
                    <label class="form-check-label" for="ciwgc">
                      CIWGC
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="other" name="other" checked>
                    <label class="form-check-label" for="other">
                      Other (OCI, PIO, FN)
                    </label>
                  </div>
                </div>
              
                <div class="mt-3 flex-center">
                  <button type="submit" class="btn btn-primary w-50">Add Branch & Intake</button>
                  <div>
                    <a href="/" class="btn btn-success">Home</a>
                  </div>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

   

    <%- include("partials/footer.ejs") %>
  </body>
</html>