<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>

    <div class="container">
        <h1>Manage Users</h1>
        <div class="row mb-3">
          <div class="col-md-6">
            <form action="/manage-admins/add" method="POST" class="d-grid gap-2 w-50">
              <button type="submit" class="btn btn-primary">Add Admin</button>
            </form>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <form action="/manage-admins/edit" method="POST" class="d-grid gap-2 w-50">
              <button type="submit" class="btn btn-primary">Edit Admin</button>
            </form>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <form action="/manage-admins/remove" method="POST" class="d-grid gap-2 w-50">
              <button type="submit" class="btn btn-primary">Remove Admin</button>
            </form>
          </div>
        </div>
      </div>



    <div class="container mt-4">
      <h1>Manage Branch & Intake</h1>
      <ul class="list-group w-25">
        <li class="list-group-item">
          <a href="/manage-branches/add" class="btn btn-success w-100">Add New Branch & Intake</a>
        </li>
        <li class="list-group-item">
          <a href="/manage-branches/editIntake" class="btn btn-success w-100">Edit Intake</a>
        </li>
        <li class="list-group-item">
          <a href="/manage-branches/updateSeats" class="btn btn-success w-100">Update Seats</a>
        </li>
        <li class="list-group-item">
          <a href="/manage-branches/remove" class="btn btn-success w-100">Remove Branch</a>
        </li>
      </ul>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>