<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>

    <div class="container">
        <h1>Manage Users</h1>
        <div class="row mb-3">
          <div class="col-md-6">
            <form action="/manage-admins/add" method="POST" class="d-grid gap-2 w-50">
              <button type="submit" class="btn btn-primary">Add Admin</button>
            </form>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <form action="/manage-admins/edit" method="POST" class="d-grid gap-2 w-50">
              <button type="submit" class="btn btn-primary">Edit Admin</button>
            </form>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <form action="/manage-admins/remove" method="POST" class="d-grid gap-2 w-50">
              <button type="submit" class="btn btn-primary">Remove Admin</button>
            </form>
          </div>
        </div>
      </div>

      <div class="container">
        <h1>Manage Branches & Intake</h1>
        <div class="row mb-3">
          <div class="col-md-6">
            <form action="/manage-branches/add"  method="POST" class="d-grid gap-2 w-50">
              <button type="submit" class="btn btn-primary">Add Branch & intake</button>
            </form>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <form action="/manage-branches/edit" method="POST" class="d-grid gap-2 w-50">
              <button type="submit" class="btn btn-primary">Edit Branch & intake</button>
            </form>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <form action="/manage-branches/remove" method="POST" class="d-grid gap-2 w-50">
              <button type="submit" class="btn btn-primary">Remove Branch & Intake</button>
            </form>
          </div>
        </div>
      </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
